<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @shop.name %>
</p>

<p>
  <b>Address:</b>
  <%= @shop.address %>
</p>

<p>
  <b>Tel:</b>
  <%= @shop.tel %>
</p>

<p>
  <b>Category:</b>
  <%= @shop.category %>
</p>

<p>
  <b>Uid:</b>
  <%= @shop.uid %>
</p>

<p>
  <b>Latitude:</b>
  <%= @shop.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @shop.longitude %>
</p>

<p>
  <b>Parking url:</b>
  <%= @shop.parking_url %>
</p>

<p>
  <b>Road:</b>
  <%= @shop.road %>
</p>

<p>
  <b>Information:</b>
  <%= @shop.information %>
</p>

<p>
  <b>Shop:</b>
  <%= @shop.shop %>
</p>

<p>
  <b>Restaurant:</b>
  <%= @shop.restaurant %>
</p>

<p>
  <b>Park:</b>
  <%= @shop.park %>
</p>

<p>
  <b>Rest room:</b>
  <%= @shop.rest_room %>
</p>

<p>
  <b>Memo:</b>
  <%= @shop.memo %>
</p>

<p>
  <b>Use flg:</b>
  <%= @shop.use_flg %>
</p>


<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
