<%= form_for(@shops_visit) do |f| %>
  <% if @shops_visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shops_visit.errors.count, "error") %> prohibited this shops_visit from being saved:</h2>

      <ul>
      <% @shops_visit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uuid %><br />
    <%= f.text_field :uuid %>
  </div>
  <div class="field">
    <%= f.label :twitter_id %><br />
    <%= f.text_field :twitter_id %>
  </div>
  <div class="field">
    <%= f.label :shops_uid %><br />
    <%= f.text_field :shops_uid %>
  </div>
  <div class="field">
    <%= f.label :memo %><br />
    <%= f.text_area :memo %>
  </div>
  <div class="field">
    <%= f.label :visited_at %><br />
    <%= f.date_select :visited_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
